<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/styleRe.css">
    <title>Registro</title>
</head>
<body>
    <div class="form-register">
        <h2>Registro</h2>
    <form action="/register" method="POST" id="registro">
            <input class="controls" type="text" name="nombre" id="name" placeholder="ingrese nombre y apeliidos" required>
            <input class="controls" type="email" name="email" id="email" placeholder="correo institucional" required>
            <input class="controls" type="password" name="password" id="password" placeholder="contraseña" required>
            <input class="controls" type="password" name="Repassword" id="Repassword" placeholder="repita contraseña" required>
            <a href="/login" class="butons-cancelar">Cancelar</a>
            <input type="submit" class= "butons"  value="Registrar"> 
    </form>
</div>
<script src="/validacionesFormulario.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text:'<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: '<%= showConfirmButton %>',
                timer: '<%= timer %>'
            }).then(()=>{
                window.location ='<%= ruta %>'
            })
        </script>
   <% } %>

</body>
</html>